# **Week 8 Project**

# **Explanation of the Project:**
### This project analyzes global trends in life expectancy at birth, exploring key socio-economic and healthcare factors that influence disparities across different countries and regions. The dataset includes various indicators such as GDP, immunization rates, and health expenditures. By computing essential statistics, we aim to identify significant patterns and correlations that impact life expectancy worldwide.

#DATA WRANGLING

##Package import

In [2]:
import numpy as np
import pandas as pd

##Import Data

In [27]:
# Load the dataset
file_path = '/content/Life Expectancy at Birth.csv'  # Ensure this file is in the correct directory
life_expectancy_df = pd.read_csv(file_path)

In [34]:
df = pd.read_csv("/content/Life Expectancy at Birth.csv")

In [43]:
# Import tech CSV file in "url" as a pandas DataFrame
# object assigned to the variable "df"
df = pd.read_csv(url, header=None)

#class example code is df = pd.read_csv(url)

In [40]:
# Drop missing values to simplify analysis
life_expectancy_df.dropna(inplace=True)
# Compute summary statistics (mean, max, and median) for each numerical column
summary_statistics = life_expectancy_df.describe().T  # Transpose for readability

# Select only numerical columns for median calculation
numerical_cols = life_expectancy_df.select_dtypes(include=np.number).columns
summary_statistics['median'] = life_expectancy_df[numerical_cols].median()
summary_statistics['max'] = life_expectancy_df[numerical_cols].max()

In [42]:
# Save the cleaned dataset with additional statistics
cleaned_file_path = 'cleaned_life_expectancy_data.csv'
life_expectancy_df.to_csv(cleaned_file_path, index=False)
print(f"Cleaned dataset saved as {cleaned_file_path}")

Cleaned dataset saved as cleaned_life_expectancy_data.csv

In [35]:
df.head()
#function is a method function that is already applied

,ISO3,Country,Continent,Hemisphere,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),...,Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021)
0,AFG,Afghanistan,Asia,Northern Hemisphere,Low,SA,180.0,45.9672,46.6631,47.5955,...,61.9230,62.4167,62.5451,62.6587,63.1361,63.0160,63.0810,63.5645,62.5751,61.9824
1,AGO,Angola,Africa,Southern Hemisphere,Medium,SSA,148.0,41.8933,43.8127,42.2088,...,58.6231,59.3074,60.0397,60.6546,61.0923,61.6798,62.1438,62.4484,62.2612,61.6434
2,ALB,Albania,Europe,Northern Hemisphere,High,ECA,67.0,73.1439,73.3776,73.7148,...,78.0640,78.1226,78.4075,78.6441,78.8602,79.0473,79.1838,79.2825,76.9893,76.4626
3,AND,Andorra,Europe,Northern Hemisphere,Very High,NaN,40.0,78.4063,77.9805,80.3241,...,82.9166,82.9343,82.9483,82.9534,82.9671,82.9803,82.9923,83.0039,79.0234,80.3684
4,ARE,United Arab Emirates,Asia,Northern Hemisphere,Very High,AS,26.0,71.9004,72.2414,72.3062,...,78.7155,78.8528,79.0442,79.2232,79.3347,79.5036,79.6274,79.7262,78.9457,78.7104

In [7]:
#Show the "Contienent" colum
df['Continent']

0         Asia
1       Africa
2       Europe
3       Europe
4         Asia
        ...
190    Oceania
191       Asia
192     Africa
193     Africa
194     Africa
Name: Continent, Length: 195, dtype: object

In [8]:
df.Country

0               Afghanistan
1                    Angola
2                   Albania
3                   Andorra
4      United Arab Emirates
               ...
190                   Samoa
191                   Yemen
192            South Africa
193                  Zambia
194                Zimbabwe
Name: Country, Length: 195, dtype: object

In [10]:
df.Continent.unique()

array(['Asia', 'Africa', 'Europe', 'America', 'Oceania'], dtype=object)

In [12]:
df.iloc[0]
#this is a locator
#gives the first row of the data

ISO3                                               AFG
Country                                    Afghanistan
Continent                                         Asia
Hemisphere                         Northern Hemisphere
Human Development Groups                           Low
UNDP Developing Regions                             SA
HDI Rank (2021)                                  180.0
Life Expectancy at Birth (1990)                45.9672
Life Expectancy at Birth (1991)                46.6631
Life Expectancy at Birth (1992)                47.5955
Life Expectancy at Birth (1993)                51.4664
Life Expectancy at Birth (1994)                51.4945
Life Expectancy at Birth (1995)                52.5442
Life Expectancy at Birth (1996)                53.2433
Life Expectancy at Birth (1997)                53.6342
Life Expectancy at Birth (1998)                52.9431
Life Expectancy at Birth (1999)                54.8464
Life Expectancy at Birth (2000)                55.2978
Life Expectancy at Birth (2001)                55.7981
Life Expectancy at Birth (2002)                56.4538
Life Expectancy at Birth (2003)                57.3445
Life Expectancy at Birth (2004)                57.9436
Life Expectancy at Birth (2005)                58.3608
Life Expectancy at Birth (2006)                58.6844
Life Expectancy at Birth (2007)                59.1113
Life Expectancy at Birth (2008)                59.8515
Life Expectancy at Birth (2009)                60.3636
Life Expectancy at Birth (2010)                60.8508
Life Expectancy at Birth (2011)                61.4191
Life Expectancy at Birth (2012)                 61.923
Life Expectancy at Birth (2013)                62.4167
Life Expectancy at Birth (2014)                62.5451
Life Expectancy at Birth (2015)                62.6587
Life Expectancy at Birth (2016)                63.1361
Life Expectancy at Birth (2017)                 63.016
Life Expectancy at Birth (2018)                 63.081
Life Expectancy at Birth (2019)                63.5645
Life Expectancy at Birth (2020)                62.5751
Life Expectancy at Birth (2021)                61.9824
Name: 0, dtype: object

In [11]:
row, col = df.shape

In [13]:
df.iloc[0:5]
#row 0-5

,ISO3,Country,Continent,Hemisphere,Human Development Groups,UNDP Developing Regions,HDI Rank (2021),Life Expectancy at Birth (1990),Life Expectancy at Birth (1991),Life Expectancy at Birth (1992),...,Life Expectancy at Birth (2012),Life Expectancy at Birth (2013),Life Expectancy at Birth (2014),Life Expectancy at Birth (2015),Life Expectancy at Birth (2016),Life Expectancy at Birth (2017),Life Expectancy at Birth (2018),Life Expectancy at Birth (2019),Life Expectancy at Birth (2020),Life Expectancy at Birth (2021)
0,AFG,Afghanistan,Asia,Northern Hemisphere,Low,SA,180.0,45.9672,46.6631,47.5955,...,61.9230,62.4167,62.5451,62.6587,63.1361,63.0160,63.0810,63.5645,62.5751,61.9824
1,AGO,Angola,Africa,Southern Hemisphere,Medium,SSA,148.0,41.8933,43.8127,42.2088,...,58.6231,59.3074,60.0397,60.6546,61.0923,61.6798,62.1438,62.4484,62.2612,61.6434
2,ALB,Albania,Europe,Northern Hemisphere,High,ECA,67.0,73.1439,73.3776,73.7148,...,78.0640,78.1226,78.4075,78.6441,78.8602,79.0473,79.1838,79.2825,76.9893,76.4626
3,AND,Andorra,Europe,Northern Hemisphere,Very High,NaN,40.0,78.4063,77.9805,80.3241,...,82.9166,82.9343,82.9483,82.9534,82.9671,82.9803,82.9923,83.0039,79.0234,80.3684
4,ARE,United Arab Emirates,Asia,Northern Hemisphere,Very High,AS,26.0,71.9004,72.2414,72.3062,...,78.7155,78.8528,79.0442,79.2232,79.3347,79.5036,79.6274,79.7262,78.9457,78.7104

In [15]:
df.iloc[10]

ISO3                                               AZE
Country                                     Azerbaijan
Continent                                         Asia
Hemisphere                         Northern Hemisphere
Human Development Groups                          High
UNDP Developing Regions                            ECA
HDI Rank (2021)                                   91.0
Life Expectancy at Birth (1990)                62.3522
Life Expectancy at Birth (1991)                62.0524
Life Expectancy at Birth (1992)                61.2956
Life Expectancy at Birth (1993)                61.2856
Life Expectancy at Birth (1994)                61.5941
Life Expectancy at Birth (1995)                62.3052
Life Expectancy at Birth (1996)                62.6217
Life Expectancy at Birth (1997)                62.9728
Life Expectancy at Birth (1998)                63.5609
Life Expectancy at Birth (1999)                64.1892
Life Expectancy at Birth (2000)                64.8905
Life Expectancy at Birth (2001)                65.5101
Life Expectancy at Birth (2002)                66.2392
Life Expectancy at Birth (2003)                66.7563
Life Expectancy at Birth (2004)                67.3461
Life Expectancy at Birth (2005)                67.5619
Life Expectancy at Birth (2006)                68.1653
Life Expectancy at Birth (2007)                68.6032
Life Expectancy at Birth (2008)                68.8112
Life Expectancy at Birth (2009)                69.3556
Life Expectancy at Birth (2010)                69.5291
Life Expectancy at Birth (2011)                69.9835
Life Expectancy at Birth (2012)                70.3598
Life Expectancy at Birth (2013)                70.8814
Life Expectancy at Birth (2014)                71.1163
Life Expectancy at Birth (2015)                71.4512
Life Expectancy at Birth (2016)                72.0039
Life Expectancy at Birth (2017)                72.2478
Life Expectancy at Birth (2018)                72.7601
Life Expectancy at Birth (2019)                73.1023
Life Expectancy at Birth (2020)                66.8679
Life Expectancy at Birth (2021)                69.3658
Name: 10, dtype: object

In [17]:
df.iloc[0:5, 0:2]

  ISO3               Country
0  AFG           Afghanistan
1  AGO                Angola
2  ALB               Albania
3  AND               Andorra
4  ARE  United Arab Emirates

In [18]:
df.loc[0:5, 'Country']

0             Afghanistan
1                  Angola
2                 Albania
3                 Andorra
4    United Arab Emirates
5               Argentina
Name: Country, dtype: object

In [19]:
df.loc[0:5, 'Country':'Continent']

                Country Continent
0           Afghanistan      Asia
1                Angola    Africa
2               Albania    Europe
3               Andorra    Europe
4  United Arab Emirates      Asia
5             Argentina   America

In [20]:
df.loc[0:5, 'Continent']

0       Asia
1     Africa
2     Europe
3     Europe
4       Asia
5    America
Name: Continent, dtype: object

In [21]:
Continent = df.Continent

In [44]:
type(Continent)

pandas.core.series.Series

In [23]:
#numpy array of continent
Continent.values

array(['Asia', 'Africa', 'Europe', 'Europe', 'Asia', 'America', 'Asia',
       'America', 'Oceania', 'Europe', 'Asia', 'Africa', 'Europe',
       'Africa', 'Africa', 'Asia', 'Europe', 'Asia', 'America', 'Europe',
       'Europe', 'America', 'America', 'America', 'America', 'Asia',
       'Asia', 'Africa', 'Africa', 'America', 'Europe', 'America', 'Asia',
       'Africa', 'Africa', 'Africa', 'Africa', 'America', 'Africa',
       'Africa', 'America', 'America', 'Asia', 'Europe', 'Europe',
       'Africa', 'America', 'Europe', 'America', 'Africa', 'America',
       'Africa', 'Africa', 'Europe', 'Europe', 'Africa', 'Europe',
       'Oceania', 'Europe', 'Oceania', 'Africa', 'Europe', 'Asia',
       'Africa', 'Africa', 'Africa', 'Africa', 'Africa', 'Europe',
       'America', 'America', 'America', 'Asia', 'America', 'Europe',
       'America', 'Europe', 'Asia', 'Asia', 'Europe', 'Asia', 'Asia',
       'Europe', 'Asia', 'Europe', 'America', 'Asia', 'Asia', 'Asia',
       'Africa', 'Asia', 'Asia', 'Oceania', 'America', 'Asia', 'Asia',
       'Asia', 'Asia', 'Africa', 'Africa', 'America', 'Europe', 'Asia',
       'Africa', 'Europe', 'Europe', 'Europe', 'Africa', 'Europe',
       'Europe', 'Africa', 'Asia', 'America', 'Oceania', 'Europe',
       'Africa', 'Europe', 'Asia', 'Europe', 'Asia', 'Africa', 'Africa',
       'Africa', 'Africa', 'Asia', 'Africa', 'Africa', 'Africa',
       'America', 'Europe', 'Europe', 'Asia', 'Oceania', 'Oceania',
       'Asia', 'Asia', 'America', 'America', 'Asia', 'Oceania', 'Oceania',
       'Europe', 'Asia', 'Europe', 'America', 'Asia', 'Asia', 'Europe',
       'Europe', 'Africa', 'Asia', 'Africa', 'Africa', 'Asia', 'Oceania',
       'Africa', 'America', 'Europe', 'Africa', 'Europe', 'Africa',
       'Africa', 'America', 'Europe', 'Europe', 'Europe', 'Africa',
       'Africa', 'Asia', 'Africa', 'Africa', 'Asia', 'Asia', 'Asia',
       'Asia', 'Oceania', 'America', 'Africa', 'Asia', 'Oceania',
       'Africa', 'Africa', 'Europe', 'America', 'America', 'Asia',
       'America', 'America', 'Asia', 'Oceania', 'Oceania', 'Asia',
       'Africa', 'Africa', 'Africa'], dtype=object)

In [24]:
df.columns
# If i forget the name of the columns

Index(['ISO3', 'Country', 'Continent', 'Hemisphere',
       'Human Development Groups', 'UNDP Developing Regions',
       'HDI Rank (2021)', 'Life Expectancy at Birth (1990)',
       'Life Expectancy at Birth (1991)', 'Life Expectancy at Birth (1992)',
       'Life Expectancy at Birth (1993)', 'Life Expectancy at Birth (1994)',
       'Life Expectancy at Birth (1995)', 'Life Expectancy at Birth (1996)',
       'Life Expectancy at Birth (1997)', 'Life Expectancy at Birth (1998)',
       'Life Expectancy at Birth (1999)', 'Life Expectancy at Birth (2000)',
       'Life Expectancy at Birth (2001)', 'Life Expectancy at Birth (2002)',
       'Life Expectancy at Birth (2003)', 'Life Expectancy at Birth (2004)',
       'Life Expectancy at Birth (2005)', 'Life Expectancy at Birth (2006)',
       'Life Expectancy at Birth (2007)', 'Life Expectancy at Birth (2008)',
       'Life Expectancy at Birth (2009)', 'Life Expectancy at Birth (2010)',
       'Life Expectancy at Birth (2011)', 'Life Expectancy at Birth (2012)',
       'Life Expectancy at Birth (2013)', 'Life Expectancy at Birth (2014)',
       'Life Expectancy at Birth (2015)', 'Life Expectancy at Birth (2016)',
       'Life Expectancy at Birth (2017)', 'Life Expectancy at Birth (2018)',
       'Life Expectancy at Birth (2019)', 'Life Expectancy at Birth (2020)',
       'Life Expectancy at Birth (2021)'],
      dtype='object')

In [25]:
# tell me the unique elements in ""
df.Continent.unique()

array(['Asia', 'Africa', 'Europe', 'America', 'Oceania'], dtype=object)

#Statistical Data for each Columns

In [41]:
# Display computed statistics
print("\nSummary Statistics:")
print(summary_statistics[['mean', 'max', 'median']])

Summary Statistics:
                                       mean       max     median
HDI Rank (2021)                  116.527027  191.0000  117.50000
Life Expectancy at Birth (1990)   61.678976   76.6301   63.75835
Life Expectancy at Birth (1991)   61.970728   76.5905   64.15725
Life Expectancy at Birth (1992)   61.890578   76.6269   64.21250
Life Expectancy at Birth (1993)   62.018374   76.7029   64.64135
Life Expectancy at Birth (1994)   62.322742   76.6700   64.96315
Life Expectancy at Birth (1995)   62.578247   76.5519   64.91715
Life Expectancy at Birth (1996)   62.759663   76.8042   65.29655
Life Expectancy at Birth (1997)   62.941059   77.2281   65.66315
Life Expectancy at Birth (1998)   62.923286   77.9875   65.49565
Life Expectancy at Birth (1999)   63.387561   78.4701   66.22450
Life Expectancy at Birth (2000)   63.912529   79.0691   66.42510
Life Expectancy at Birth (2001)   64.221391   79.1863   66.77215
Life Expectancy at Birth (2002)   64.551362   79.3025   67.02195
Life Expectancy at Birth (2003)   64.870714   79.3985   67.22245
Life Expectancy at Birth (2004)   65.187131   79.7654   67.26865
Life Expectancy at Birth (2005)   65.590193   80.3541   67.60555
Life Expectancy at Birth (2006)   65.995040   80.7100   68.00215
Life Expectancy at Birth (2007)   66.355620   80.9576   68.24790
Life Expectancy at Birth (2008)   66.692620   81.1698   68.78790
Life Expectancy at Birth (2009)   67.101804   81.4555   69.02890
Life Expectancy at Birth (2010)   67.414245   81.6910   69.29615
Life Expectancy at Birth (2011)   67.867141   81.9745   69.37135
Life Expectancy at Birth (2012)   68.192039   82.2434   69.41165
Life Expectancy at Birth (2013)   68.477295   82.5157   69.54940
Life Expectancy at Birth (2014)   68.725431   82.6524   69.83430
Life Expectancy at Birth (2015)   69.015206   82.8265   70.16980
Life Expectancy at Birth (2016)   69.350466   83.0001   70.43915
Life Expectancy at Birth (2017)   69.623580   83.2236   70.65050
Life Expectancy at Birth (2018)   69.874426   83.4576   71.17430
Life Expectancy at Birth (2019)   70.072799   83.7584   71.35080
Life Expectancy at Birth (2020)   69.372078   82.8610   70.37345
Life Expectancy at Birth (2021)   68.713070   82.7545   70.21670

In [33]:
print(life_expectancy_df.describe())
 # Summary statistics for numerical columns

       HDI Rank (2021)  Life Expectancy at Birth (1990)  \
count       191.000000                       195.000000
mean         95.811518                        64.596583
std          55.307333                        10.102225
min           1.000000                        29.935300
25%          48.500000                        58.675500
50%          96.000000                        67.658400
75%         143.500000                        71.933450
max         191.000000                        78.983800

       Life Expectancy at Birth (1991)  Life Expectancy at Birth (1992)  \
count                       195.000000                       195.000000
mean                         64.729711                        64.734149
std                          10.311808                        10.582665
min                          26.564700                        22.724500
25%                          59.051850                        57.631950
50%                          67.881400                        67.783000
75%                          72.137450                        72.379750
max                          79.251900                        80.324100

       Life Expectancy at Birth (1993)  Life Expectancy at Birth (1994)  \
count                       195.000000                       195.000000
mean                         64.955027                        65.262238
std                          10.378498                        10.443104
min                          22.704100                        14.098500
25%                          57.959100                        58.585050
50%                          67.719500                        67.884600
75%                          72.542950                        72.740000
max                          79.434200                        82.638000

       Life Expectancy at Birth (1995)  Life Expectancy at Birth (1996)  \
count                       195.000000                       195.000000
mean                         65.410569                        65.622842
std                          10.080049                        10.151753
min                          30.948300                        31.296600
25%                          59.327700                        59.310500
50%                          68.169900                        68.749300
75%                          72.755300                        73.203100
max                          79.670200                        80.349300

       Life Expectancy at Birth (1997)  Life Expectancy at Birth (1998)  ...  \
count                       195.000000                       195.000000  ...
mean                         65.825234                        65.864002  ...
std                          10.215914                        10.627165  ...
min                          32.242400                        18.385200  ...
25%                          59.996100                        59.897200  ...
50%                          68.884100                        69.099600  ...
75%                          73.226950                        73.419950  ...
max                          80.943900                        80.640200  ...

       Life Expectancy at Birth (2012)  Life Expectancy at Birth (2013)  \
count                       195.000000                       195.000000
mean                         70.742479                        71.029231
std                           8.432951                         8.316052
min                          47.835400                        49.002400
25%                          64.364150                        64.326350
50%                          72.453600                        72.704400
75%                          77.085850                        77.183600
max                          84.529300                        84.865600

       Life Expectancy at Birth (2014)  Life Expectancy at Birth (2015)  \
count                       195.000000                       195.000000
mean                         71.287446                        71.511704
std                           8.241010                         8.049081
min                          50.032700                        51.101400
25%                          64.604600                        65.210800
50%                          72.853300                        72.983000
75%                          77.430750                        77.608100
max                          84.880400                        85.258500

       Life Expectancy at Birth (2016)  Life Expectancy at Birth (2017)  \
count                       195.000000                       195.000000
mean                         71.823067                        72.069328
std                           7.913379                         7.812799
min                          52.042700                        52.305200
25%                          65.711150                        65.978000
50%                          73.111600                        73.374300
75%                          77.811300                        77.859850
max                          85.722800                        85.652500

       Life Expectancy at Birth (2018)  Life Expectancy at Birth (2019)  \
count                       195.000000                       195.000000
mean                         72.292908                        72.505775
std                           7.708096                         7.637005
min                          52.553600                        52.910400
25%                          66.278450                        66.519900
50%                          73.530600                        73.469600
75%                          77.914400                        77.985100
max                          86.464300                        86.542400

       Life Expectancy at Birth (2020)  Life Expectancy at Birth (2021)
count                       195.000000                       195.000000
mean                         71.813544                        71.276330
std                           7.528341                         7.746488
min                          52.777400                        52.525400
25%                          66.028150                        65.672500
50%                          72.513200                        71.694000
75%                          77.403650                        76.699300
max                          86.538000                        85.946300

[8 rows x 33 columns]

In [32]:
# Display basic information about the dataset
print("Dataset Overview:")
print(life_expectancy_df.info())  # Provides column names, data types, and missing values

Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 39 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ISO3                             195 non-null    object
 1   Country                          195 non-null    object
 2   Continent                        195 non-null    object
 3   Hemisphere                       195 non-null    object
 4   Human Development Groups         191 non-null    object
 5   UNDP Developing Regions          151 non-null    object
 6   HDI Rank (2021)                  191 non-null    float64
 7   Life Expectancy at Birth (1990)  195 non-null    float64
 8   Life Expectancy at Birth (1991)  195 non-null    float64
 9   Life Expectancy at Birth (1992)  195 non-null    float64
 10  Life Expectancy at Birth (1993)  195 non-null    float64
 11  Life Expectancy at Birth (1994)  195 non-null    float64
 12  Life Expectancy at Birth (1995)  195 non-null    float64
 13  Life Expectancy at Birth (1996)  195 non-null    float64
 14  Life Expectancy at Birth (1997)  195 non-null    float64
 15  Life Expectancy at Birth (1998)  195 non-null    float64
 16  Life Expectancy at Birth (1999)  195 non-null    float64
 17  Life Expectancy at Birth (2000)  195 non-null    float64
 18  Life Expectancy at Birth (2001)  195 non-null    float64
 19  Life Expectancy at Birth (2002)  195 non-null    float64
 20  Life Expectancy at Birth (2003)  195 non-null    float64
 21  Life Expectancy at Birth (2004)  195 non-null    float64
 22  Life Expectancy at Birth (2005)  195 non-null    float64
 23  Life Expectancy at Birth (2006)  195 non-null    float64
 24  Life Expectancy at Birth (2007)  195 non-null    float64
 25  Life Expectancy at Birth (2008)  195 non-null    float64
 26  Life Expectancy at Birth (2009)  195 non-null    float64
 27  Life Expectancy at Birth (2010)  195 non-null    float64
 28  Life Expectancy at Birth (2011)  195 non-null    float64
 29  Life Expectancy at Birth (2012)  195 non-null    float64
 30  Life Expectancy at Birth (2013)  195 non-null    float64
 31  Life Expectancy at Birth (2014)  195 non-null    float64
 32  Life Expectancy at Birth (2015)  195 non-null    float64
 33  Life Expectancy at Birth (2016)  195 non-null    float64
 34  Life Expectancy at Birth (2017)  195 non-null    float64
 35  Life Expectancy at Birth (2018)  195 non-null    float64
 36  Life Expectancy at Birth (2019)  195 non-null    float64
 37  Life Expectancy at Birth (2020)  195 non-null    float64
 38  Life Expectancy at Birth (2021)  195 non-null    float64
dtypes: float64(33), object(6)
memory usage: 59.5+ KB
None